.title {
    text-align: center;
    background-color: mediumaquamarine;
    margin: 20px, 0px;
    padding: 10px;
    
}

.game-area canvas {
    border: 5px solid black;
    margin: 0 auto;
}

body {
    background-image: url(images/bg.jpg);
}