* {
    font-family: trebuchet;
    color: whitesmoke;
    margin: 5px 5px;
    padding: 5px;
    text-align: left;
}

body {
    background-color: turquoise;
}

div {
    background-color: black;
    border-radius: 10px;
    opacity: 0.8;
}

img {
    width: 250px;
    height: 250px;

