svg {
    stroke: none;
    width: 500px;
    height: 500px;
}

#logo-center {
    position: absolute;
    top: 80px;
    left: 10px;
}

#logo-top-left {
    position: absolute;
    top:79px;
    left: 9px;
}

#logo-top-right {
    position: absolute;
    top: 80px;
    left: 95px;
}

#logo-bottom {
    position: absolute;
    top: 300px;
    left: 9px;
}